
/* footer styles */
#footer {
	padding: 0 15px;
	font-size: 13px;
	font-weight: 500;
	color: $gray05;
	flex-shrink: 0;
	text-align: center;
	
	@include media-breakpoint-up(md) {
		padding: 0 24px;
		text-align: left;
	}
	@include media-breakpoint-up(lg) {
		padding: 0 30px;
	}
	@include media-breakpoint-up(xl) {
		padding: 0 57px 0 50px;
	}
	.holder {
		padding: 20px 0;
		border-top: 1px solid #d6e6ff;
		
		@include media-breakpoint-up(md) {
			padding: 30px 0;
		}
	}
	.credit-cards {
		margin: 0 0 10px;
		
		@include media-breakpoint-up(md) {
			margin: -2px 20px 0 0;
		}
	}
}
.fnav {
	@extend %listreset;
	margin: 0 0 10px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	
	@include media-breakpoint-up(md) {
		margin: 0;
		justify-content: flex-start;
	}
	li {
		padding: 0 5px;
		
		a {
			color: inherit;
			
			&:hover {
				color: $primary;
			}
		}
	}
}
.copyright {
	color: rgba($gray05, 0.47);
	
	@include media-breakpoint-up(md) {
		text-align: right;
	}
	a {
		color: inherit;
		
		&:hover {
			color: $primary;
		}
	}
}